<div class="social-wrapper">
  <ul>
    <li class="social-item">
      <div class="social-item-wrapper">
        <div class="social-icon"><img src="assets/img/icons/icon-linkedin.svg" alt=""></div>
        <div class="social-url">https://br.linkedin.com/in/eduardocb</div>
      </div>
    </li>
    <li class="social-item">
      <div class="social-item-wrapper">
        <div class="social-icon"><img src="assets/img/icons/icon-github-square.png" alt=""></div>
        <div class="social-url">https://github.com/eduardo305</div>
      </div>
    </li>
    <li class="social-item">
      <div class="social-item-wrapper">
        <div class="social-icon"><img src="assets/img/icons/icon-codepen.png" alt=""></div>
        <div class="social-url">http://codepen.io/eduardo305/</div>
      </div>
    </li>
    <li class="social-item">
      <div class="social-item-wrapper">
        <div class="social-icon"><img src="assets/img/icons/icon-facebook-square.png" alt=""></div>
        <div class="social-url">https://www.facebook.com/Viviane.e.Eduardo</div>
      </div>
    </li>
    <li class="social-item">
      <div class="social-item-wrapper">
        <div class="social-icon"><img src="assets/img/icons/icon-instagram-square.png" alt=""></div>
        <div class="social-url">https://br.linkedin.com/in/eduardocb</div>
      </div>
    </li>
  </ul>
</div>
